.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 800px) {
		padding: 0 10px;
	}

	.logo-container {
		height: 100%;
		width: 70px;

		.logo {
			width: 60px;
			padding-bottom: 28px;
			padding-left: 8px;
			transition: 0.05s ease-in;

			&:hover {
				transform: scale(1.05)
			}
		}
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			padding: 10px 15px;
			cursor: pointer;
		}
	}
}